div.about
  div.about__top
    div.text__left
      h3 <span class="uppercase">A</span>bout
      h1 <span class="highlight">S</span>ublime
    div.text__right
      h4
        |Lorem ipsum dolor sit amet, consectetur adipising elit. Nulla facilisis molestie dignissim. Nulla</br>
        |pellentesque et nisi et eusmod. Pellentesque quius tristique magna.
      p
        |Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur diam. Suspendisse justo sem,</br>
        |molestie tincidunt rhoncus vel, molestie ut ligula. Mauris vitae ullamcorper odio. Mauris id enim</br>
        |gravida, tempor velit non, vehicula lacus. Sed rutrum tempus urna, sed aliquam lectus egestas eu.</br>
        |Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur diam. Suspendisse justo sem,</br>
        |molestie tincidunt rhoncus vel, molestie ut ligula. Mauris vitae ullamcorper odio. Mauris id enim</br>
        |gravida, tempor velit non, vehicula lacus. Sed rutrum tempus urna, sed aliquam lectus egestas eu
  div.about__bottom
    each point in ["App Development", "Game Design", "Content Creation"]
        div.about__point
          div.logo
          h3= point
          p
            |Lorem ipsum dolor sit amet, consectetur adipiscing elit.</br>
            |Nulla facilisis molestie dignissim. Nulla pellentesque et nisi</br>
            |et euismod. Pellentesque quis tristique magna.
          p
            |Lorem ipsum dolor sit amet, consectetur adipiscing elit.</br>
            |Nulla facilisis molestie dignissim. Nulla pellentesque et nisi</br>
            |et euismod. Pellentesque quis tristique magna.
