div.blogs
  div.block__left
    h1 <span class="highlight uppercase">B</span>logs

    nav
      ul
        li.nav-current Latest Posts
        li App Design
        li App Development
        li Design Solutions
        li Quality Assurance
        li Development Mode
        li What's Out There

  div.block__right
    div.item
      img(src="img/Layer 38.png")
      div.date July 4th 2016

      h6 Lorem Ipsum dolor sit amet,
      p
        |Lorem ipsum dolor sit amet,</br>
        |consectetur adipiscing elit,</br>
        |Nulla facilisis molestie dignissim.
    div.item
      img(src="img/Layer 39.png")
      div.date June 20th 2016

      h6 Lorem Ipsum dolor sit amet,
      p
        |Lorem ipsum dolor sit amet,</br>
        |consectetur adipiscing elit,</br>
        |Nulla facilisis molestie dignissim.
    div.item
      img(src="img/Layer 40.png")
      div.date May 6th 2016

      h6 Lorem Ipsum dolor sit amet,
      p
        |Lorem ipsum dolor sit amet,</br>
        |consectetur adipiscing elit,</br>
        |Nulla facilisis molestie dignissim.
