div.featured
  div.featured__top
    h1
        |<span class="highlight uppercase">F</span>eatured
        |<span class="uppercase">P</span>rojects
    nav
        ul
            li.nav-current All works
            li Games
            li Applications
            li Content Development

  div.featured__bottom
    - var n = 1;
    while n < 9
      img(src="img/" + n + ".png")
      - n++;
