$header-height: 1086px;
$bottom-header-height: 654px;

header{
    background: url("img/header-bg-1.png") center top no-repeat,
                url("img/header-bg-1-1.png") center top repeat-x;
    background-size:  1400px 782px, auto 1086px;
    height: $header-height;

    > *{
        margin: 0 auto;
        width: 1198px;
    }

    .header-top{
        height: calc($header-height - $bottom-header-height);
    }

    .header-bottom{
        background: url("img/header-bg-2.png");
        background-size: 1198px 736px;
        height: $bottom-header-height;
    }
}
