header
  h1 Sublime
  div
    |Sublime: A one page responsive wordpress theme</br>
    |suitable for any kind of business representation.

  a(href="#") Download the psd

  div.header-bottom
    h2
      |We create</br>
      |Awesome Games
    nav
      ul
        li
          a(href="#") About

        li.nav-current
          a(href="#") Development

        li
          a(href="#") Projects

        li
          a(href="#") Blog
