div.our-team
  div.block__left
    h1
        |<span class="uppercase highlight">O</span>ur
        |<span class="uppercase">T</span>eam
  div.block__right
    p.text__top
        |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis molestie dignissim. Nulla</br>
        |pellentesque et nisi et euismod. Pellentesque quis tristique magna.
    p.text__bottom
        |Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur diam. Suspendisse justo sem, molestie</br>
        |tincidunt

    div.team
      div.worker
        img(src="img/Layer 28.png")
        div.name John Doe
        div.position CoFounder / CEO
      div.worker
        img(src="img/Layer 29.png")
        div.name John Doe
        div.position process Manager
      div.worker
        img(src="img/Layer 30.png")
        div.name John Doe
        div.position Sales President
      div.worker
        img(src="img/Layer 31.png")
        div.name John Doe
        div.position Developer
