div.services
  div.block__left
    h1
        |<span class="uppercase highlight">S</span>ervices
        |<span class="uppercase">P</span>rovided
  div.block__right
    div
      h3 App Development
      p
        |Maecenas est risus, tristique volutpat sagittis vel,</br>
        |feugiat consectetur diam. Suspendisse justo sem,</br>
        |molestie tincidunt Maecenas est risus, tristique</br>
        |volutpat sagittis vel, feugiat consectetur diam.</br>
        |Suspendisse justo sem, molestie tincidunt

    div
      h3 Game Development
      p
        |Maecenas est risus, tristique volutpat sagittis vel,</br>
        |feugiat consectetur diam. Suspendisse justo sem,</br>
        |molestie tincidunt Maecenas est risus, tristique</br>
        |volutpat sagittis vel, feugiat consectetur diam.</br>
        |Suspendisse justo sem, molestie tincidunt
    div
      h3 App Design
      p
        |Maecenas est risus, tristique volutpat sagittis vel,</br>
        |feugiat consectetur diam. Suspendisse justo sem,</br>
        |molestie tincidunt Maecenas est risus, tristique</br>
        |volutpat sagittis vel, feugiat consectetur diam.</br>
        |Suspendisse justo sem, molestie tincidunt
    div
      h3 Game Design
      p
        |Maecenas est risus, tristique volutpat sagittis vel,</br>
        |feugiat consectetur diam. Suspendisse justo sem,</br>
        |molestie tincidunt Maecenas est risus, tristique</br>
        |volutpat sagittis vel, feugiat consectetur diam.</br>
        |Suspendisse justo sem, molestie tincidunt
