.strategic{
    padding: 65px 80px;

    h1{
        font-family: "MyriadPro";
        font-size: 32px;
        color: #000000;
        line-height: 1.2;

        .uppercase{
            font-size: 50px;
        }
    }
    h4{
        margin: 20px 0;
        font-size: 16px;
        font-family: "MyriadPro";
        color: rgb(0, 0, 0);
        font-style: italic;
        font-weight: normal;
        line-height: 1.2;
    }
    p{
        font-size: 16px;
        font-family: "MyriadPro";
        font-weight: normal;
        color: #636363;
        line-height: 1.2;
    }

    &__bottom{
        margin-top: 43px;
        display: flex;
        flex-flow: row wrap;

        .image {
            height: 288px;
            width: 430px;
        }

        #img1{
            background-image: url("img/Layer 22.png");
            background-position: right top;
        }
        #img2{
            background-image: url("img/Layer 23.png");
        }
        #img3{
            background-image: url("img/Layer 24.png");
            background-position: right top;
        }
    }
}
