div.strategic
    h1
        |<span class="highlight uppercase">S</span>trategic
        |<span class="uppercase">P</span>rocess
    h4 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis molestie dignissim. Nulla pellentesque et nisi et euismod. Pellentesque quis tristique magna.
    p
      |Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur diam.
      |Suspendisse justo sem, molestie tincidunt rhoncus vel, molestie ut ligula.
      |Mauris vitae ullamcorper odio. Mauris id enim gravida, tempor velit non,
      |vehicula lacus. Sed rutrum tempus urna, sed aliquam lectus egestas eu. Maecenas
      |est risus, tristique volutpat sagittis vel, feugiat consectetur diam.
      |Suspendisse justo sem, molestie tincidunt rhoncus vel, molestie ut ligula.
      |Mauris vitae ullamcorper odio. Mauris id enim gravida, tempor velit non,
      |vehicula lacus. Sed rutrum tempus urna, sed aliquam lectus egestas eu. Maecenas
      |est risus, tristique volutpat sagittis vel, feugiat consectetur diam.
      |Suspendisse justo sem, molestie tincidunt rhoncus vel, molestie ut ligula.
      |Mauris vitae ullamcorper odio. Mauris id enim gravida, tempor velit non,
      |vehicula lacus. Sed rutrum tempus urna, sed aliquam lectus egestas eu. Maecenas
      |est risus, tristique volutpat sagittis vel, feugiat consectetur diam.
      |Suspendisse justo sem, molestie tincidunt rhoncus vel, molestie ut ligula.
      |Mauris vitae ullamcorper odio. Mauris id enim gravida, tempor velit non,
      |vehicula lacus. Sed rutrum tempus urna, sed aliquam lectus egestas eu.
