div.strategic
    h1
        |<span class="highlight uppercase">S</span>trategic
        |<span class="uppercase">P</span>rocess
    h4 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis molestie dignissim. Nulla pellentesque et nisi et euismod. Pellentesque quis tristique magna.
    p
      |Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur diam.
      |Suspendisse justo sem, molestie tincidunt rhoncus vel, molestie ut ligula.
      |Mauris vitae ullamcorper odio. Mauris id enim gravida, tempor velit non,
      |vehicula lacus. Sed rutrum tempus urna, sed aliquam lectus egestas eu. Maecenas
      |est risus, tristique volutpat sagittis vel, feugiat consectetur diam.
      |Suspendisse justo sem, molestie tincidunt rhoncus vel, molestie ut ligula.
      |Mauris vitae ullamcorper odio. Mauris id enim gravida, tempor velit non,
      |vehicula lacus. Sed rutrum tempus urna, sed aliquam lectus egestas eu. Maecenas
      |est risus, tristique volutpat sagittis vel, feugiat consectetur diam.
      |Suspendisse justo sem, molestie tincidunt rhoncus vel, molestie ut ligula.
      |Mauris vitae ullamcorper odio. Mauris id enim gravida, tempor velit non,
      |vehicula lacus. Sed rutrum tempus urna, sed aliquam lectus egestas eu. Maecenas
      |est risus, tristique volutpat sagittis vel, feugiat consectetur diam.
      |Suspendisse justo sem, molestie tincidunt rhoncus vel, molestie ut ligula.
      |Mauris vitae ullamcorper odio. Mauris id enim gravida, tempor velit non,
      |vehicula lacus. Sed rutrum tempus urna, sed aliquam lectus egestas eu.

    div.strategic__bottom
      div.image.block__left#img1
      div.text#text-overflow
        h2
          |<span class="uppercase">O</span>ur
          |<span class="uppercase">P</span>rocess
        p.text__top
          |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis molestie</br>
          |dignissim. Nulla pellentesque et nisi et euismod. Pellentesque quis tristique</br>
          |magna.
        p.text__bottom
          |Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur diam.</br>
          |Suspendisse justo sem, molestie tincidunt rhoncus vel, molestie ut ligula. Mauris vitae</br>
          |ullamcorper odio. Mauris id enim gravida, tempor velit non, vehicula lacus. Sed rutrum</br>
          |tempus urna, sed aliquam lectus egestas eu.
      div.text.block__left
        h2
          |<span class="uppercase">M</span>ethod
        p.text__top
          |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla</br>
          |facilisis molestie dignissim. Nulla pellentesque et nisi et euismod.</br>
          |Pellentesque quis tristique magna.</br>
        p.text__bottom
          |Maecenas est risus, tristique volutpat sagittis vel, feugiat</br>
          |consectur diam. Suspendisse justo sem, molestie tincidunt


      div.image.block__right#img2
      div.image.block__left#img3
      div.text.block__right
        h2
          |<span class="uppercase">O</span>utcome
        p.text__top
          |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla</br>
          |facilisis molestie dignissim. Nulla pellentesque et nisi et euismod.</br>
          |Pellentesque quis tristique magna.</br>
        p.text__bottom
          |Maecenas est risus, tristique volutpat sagittis vel, feugiat</br>
          |consectur diam. Suspendisse justo sem, molestie tincidunt
