div.testimonials
  h1 <span class="highlight uppercase">T</span>estimonials

  div.container
    div.block__left
        p.text__top
            |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis molestie dignissim. Nulla</br>
            |pellentesque et nisi et euismod. Pellentesque quis tristique magna.
        p.text__bottom
            |Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur diam. Suspendisse justo sem, molestie</br>
            |tincidunt
    div.block__right
        img(src="img/Layer 36.png")
        div.name John Doe
        div.position CoFounder / CEO
